:root{
    --base-color: #BCE126;
    --base-color-variant:  #9ebd22;
    --text-color: white;
    --text-secondary-color: beige;
    --primary-color: #e66fd2;
    --accent-color: #e126d1;
}

.lightmode{

}

.darkmode{
    --base-color: #191d09;
    --base-color-variant:  #000000;
    --text-color: rgb(139, 139, 139);
    --text-secondary-color: rgb(73, 73, 73);
    --primary-color: #5a2d53;
    --accent-color: #4d1047;
}

body{
    background-color: var(--base-color);
}


.container{
    height: 100vh;
    display: flex;
    flex-direction: column;    
}


.nav__bar{
    display: flex;
    justify-content: right;
}

#theme-button{
    background-color: var(--base-color-variant);
    border-style: none;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20px;
}

#theme-button svg{
    fill: var(--base-color);
}

#theme-button svg:last-child{
    display: none;
}

.darkmode #theme-button svg:first-child{
    display: none;
}

.darkmode #theme-button svg:last-child{
    display: block;
}

.clock__container{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.clock__time{
    margin: 0;
    color: var(--text-color);
    font-size: 100px;
}


.clock_seconds{
    margin: 0;
    color: var(--text-color);
    font-size: 50px;
}

